<body>
<div class="container-fluid">
  <div class="row top_tittle">
    <div class="tittle">
      Добавление нового материала
    </div>
  </div>
  <div class="row" style="margin-top: 40px">
    <div class="col-12" style="padding: 0; margin: 0">
      <form class="form-edit" [formGroup]="fileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form_label">Название:</label>
          <input formControlName="name" type="text" placeholder="Введите название.." class="form-control" required
                 [ngClass]="{ 'is-invalid': form.name.dirty && form.name.errors }"/>
          <div *ngIf="form.name.touched && form.name.errors" class="invalid-feedback">
            <div *ngIf="form.name.errors.required">Напишите название!</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form_label">Описание:</label>
          <textarea formControlName="description" type="text" placeholder="Введите описание.." class="form-control" rows="3"
                    required [ngClass]="{ 'is-invalid': form.description.dirty && form.description.errors }"></textarea>
          <div *ngIf="form.description.touched && form.description.errors" class="invalid-feedback">
            <div *ngIf="form.description.errors.required">Напишите описание!</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form_label">Файл:</label>
        </div>
        <div class="row" id="upload" style="margin: 0">
          <div id="upload_button">
            <label>
              <input type="file" (change)="selectFile($event)" multiple>
              <span class="btn choose_file_btn">Выбрать файл...</span>
            </label>
          </div>
        </div>
        <div class="row mt-4" style="margin: 0">
          <button class="btn_save btn" type="submit" [disabled]="!this.fileForm.valid">ЗАГРУЗИТЬ</button>
          <button class="btn_cancel btn" routerLink="/course-mentor/{{course.id}}" style="color: #FFFFFF;">ОТМЕНИТЬ</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
