.tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.form-control {
  border: 1px solid #020202;
  border-radius: 0.5rem;
  color: rgba(41, 41, 41, 0.7);
}

.form-group {
  margin: 0;
}

.form_label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #292929;
}

.top_tittle {
  padding-top: 5%;
}

.container-fluid {
  width: 90%;
}

.btn_cancel {
  background: #E35252;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
}

.btn_save {
  background: #D2FAB9;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 10px;
}

.choose_file_btn {
  background: #F9F9F9;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 9px;
  padding: 12px 17px;
}

#upload_button {
  display: inline-block;
}
#upload_button input[type=file] {
  display:none;
}
