<body>
<div class="container-fluid top_info">
  <div class="row" style="margin: 0">
    <div class="img-wrap">
      <img src="assets/about_img.png" class="img-fluid" alt="Responsive image" style="width: 100%">
      <div class="d-flex h-100">
        <div class="justify-content-center align-self-center top_tittle">
          DIGIT LEARN
        </div>
<!--        <div class="justify-content-center align-self-center top_tittle_info">-->

<!--        </div>-->
      </div>
    </div>
  </div>
</div>
<div class="container main_info" style="margin-top: 3%; padding: 0 !important;">
  <div class="row justify-content-start">
    <div class="who_we_are_label">
      О нас
    </div>
  </div>
  <div class="row justify-content-start">
    <hr class="divider">
  </div>
  <div class="row justify-content-start">
    <div class="main_info" style="text-indent: 20px;">
      Дистанционное обучение все больше завоевывает внимание студентов своей доступностью практически в любой точке земного шара. DigitLearn вобрал в себя материалы по наиболее актуальным и перспективным направлениям. Наши курсы будут интересны как начинающим, так и специалистам, совершенствующим свои навыки.
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="who_we_are_label">
      Наши контакты
    </div>
  </div>
  <div class="row justify-content-start">
    <hr class="divider">
  </div>
  <div class="row">
    <div class="main_info">
      <img src="assets/email_img.png">
      grigorevvladimir1999@gmail.com
    </div>
  </div>
  <div class="row">
    <div class="main_info">
      <img src="assets/call_img.png">
      +7 (980) 553 56 33
    </div>
  </div>
  <div class="row">
    <div class="main_info">
      <img src="assets/call_img.png">
      +7 (999) 999 99 99
    </div>
  </div>
  <div class="row" style="margin-bottom: 42px">
    <div class="main_info">
      <img src="assets/home_img.png">
      г. Москва, ул. Московская, д.1 кв.1
    </div>
  </div>
</div>
</body>
